@font-face{
    font-family: 'rafale-ru';
    src: url('../fonts/rafale_ru.woff')format('woff')
  }
  
@font-face{
    font-family: 'segoe_fake';
    src: url('../fonts/SEGOEPR.TTF') ;
  }

  
@font-face{
    font-family: 'manifest';
    src: url('../fonts/MANIFESTO.ttf') 
  }

@font-face{
    font-family: 'bulter';
    src: url('../fonts/Butler_Light.otf');
}

@keyframes grad_ac1{
    0%{   background: linear-gradient(0deg,
        #dadada, transparent);}
    100%{   background: linear-gradient(0deg,
        #dadada00, transparent);}
}
@keyframes grad_ac2{
    0%{    background: linear-gradient(0deg,
        #dadada00, transparent);}
    100%{ background: linear-gradient(0deg,
        #dadada, transparent);}
}

body{background:#dadada ; margin: 0; -webkit-appearance:none; -webkit-text-size-adjust:100%;}

.swiper-container{width: 100%; height: 850px;}

#header nav ul li .active{color: #f4ca8b; font-weight: bold; font-size: 22px;}

.menu_button{visibility: hidden;}

.acc_single_title{
    cursor: pointer;
    position: relative;
    display: flex;
    border-top: solid 1px rgb(48, 48, 48);}

.acc_single_title::after{
    content: ""; position: absolute;
    right: 80px; top: 45%;
    display: block; width: 8px;height: 8px;
    border-top: solid 2px #4d4f50;
    border-right: solid 2px #4d4f50;

    transform: translateY(-50%) rotate(135deg);
    transition: all 0.2s ease-in-out;
}

/*.acc_content{position: relative;}*/
.acc_info{
    position: relative; top: -65px;
    max-height: 20px; overflow: hidden;
    transition: max-height .3s ease-in-out;}
.acc_ticket{
        position: relative; top: -5px; left: 17%;
        max-height: 0px; overflow: hidden;
        transition: max-height .3s ease-in-out;}
    .acc_ticket img{
        border-radius: 8px;
        margin-left: 8px;
        border: solid 1px #c4c4c4;
        box-shadow: 0px 1px 5px 0px #585858;}

.acc_more{
    position: relative; top: 0px;
    max-height: 0; overflow: hidden;
    transition: max-height .3s ease-in-out;}
.acc_item.is_open .acc_info{max-height: 150px;position: relative; top: -65px;}
.acc_item.is_open .grad{animation: grad_ac1 0s linear 1 normal forwards;}
.acc_item.is_open .acc_ticket{max-height: 150px;position: relative; top: -5px;}
.acc_item.is_open .acc_more{max-height: 150px;position: relative; top: 0px;}

.acc_more p{    
    margin: 0;
    position: relative;
    height: 50px;
    border-bottom: solid 1px;}
.acc_item.is_open .acc_single_title::after{
    transform: translateY(-50%) rotate(315deg);}
.acc_item.is_open .di_info{    max-height: 270px;}
.acc_item.is_open .acc_di_title::after{
    transform: translateY(-50%) rotate(315deg);}

.more{text-align: center;}

.img_item{
    width: 33%; height: 850px; margin: 0 auto;
}

#head-act{
        width: 100%; background: #6293b1; 
        position: absolute; top: 850px;
        z-index: 99;}
#head-act.m_fixed{position: fixed; top: 0;}

#head-act.inner{  
    padding-bottom: 0;
    padding-top: 0;
    margin: 0 auto;
    max-width: 100%;
    padding: 80px 0;
    width: 768px;}
    h2{
        width: 100%;
        font-family: 'rafale-ru';
        color: #464646;
        font-size: 46px;
        top: 45%;
        position: absolute;
    }
    h3{
        font-size: 30px; font-family: 'segoe_fake'; 
        text-align: center; margin: 0; padding: 25px 0;}

    h4{font-size: 40px; font-family: 'manifest'; color: azure; padding-top: 60px;}
    h5{
        font-size: 18px; font-family: 'Shippori Mincho', serif;
        font-weight: lighter; height: 40px;}

.list{display: flex; list-style: none;}
.list-item{width: 20%;}

.list-item a{
    color: azure; display: block; line-height: 50px;
    text-align: center; text-decoration: none;
    font-family: 'rafale-ru'; font-size: 20px;
    }

.news{width: 65%; margin: 85px auto -webkit-appearance:none; -webkit-text-size-adjust:100%;}
.ne_img{
    -webkit-appearance:none; -webkit-text-size-adjust:100%;
    width: 10%!important; margin: 20px; 
    border-radius: 20px;
    background: #dadada;
    box-shadow: inset 6px 6px 7px #bfbfbf, 
                inset -6px -6px 7px #e9e9e9;}
.ne_p{ 
    margin-top: 0;
    margin-bottom: 10px;
    left: 14%;
    position: relative;
    font-family: 'Shippori Mincho', serif;}
    .grad{
        -webkit-appearance:none; -webkit-text-size-adjust:100%;
        animation: grad_ac2 0.5s linear 1 forwards;
        height: 50px;
        background: linear-gradient(0deg,
         #dadada, #dadada00)!important;
        position: absolute;
        width: 71%; top: -25px;
        left: 14%;}
.live{width: 65%; margin: 0 auto; height: 500px;}
.tab_table{
    width: 100%; margin-top: 85px;
}

.tab_info{
    border-bottom: solid 1px rgb(61, 61, 61);
}
.li_day{
    text-align: center; padding: 15px 15px; 
    width: 15%;
   }
.li_day p{ 
    background: #4d4f50; font-family: 'Lobster', cursive;
    padding: 15px; display: inline-block;
    color:#eeeeee;}
.li_day span{font-size: 20px;}
.li_p{font-size: 13px; font-family: 'Shippori Mincho', serif;}
.movie{
        width: 65%; margin: 85px auto; 
        
        text-align: center;}
.mo_wrap{width: 80%; margin: 0 auto;}
.mo_item{
        box-shadow: 0px 1px 12px 0px rgb(88, 88, 88);
        border-radius: 45px;
        border: solid rgba(230,230,230,0.8) 2px;
        margin: 50px 0;}
.mo_item_sp{
    display: none;
    box-shadow: 0px 1px 12px 0px rgb(88, 88, 88);
    border-radius: 28px;
    border: solid rgba(230,230,230,0.8) 2px;
    margin: 50px 0;}

.movie h3{
    width: 65%;
    margin: 0 auto;}

.disc{width: 65%; margin: 0 auto; height: 500px;}
.disc .acc_content{position: relative;}
.di_song{padding-left: 22px;}
.di_img{width: 15%; margin: 20px;}
.di_item{height: 120px;}
.di_item img{
    border-radius: 8px; margin-left: 8px;
    border: solid 1px #c4c4c4;
    box-shadow: 0px 1px 5px 0px #585858;}
.di_wrap{
    display: flex; flex-direction: column;
    text-align: left; position: relative;
    left: 19%; }
.di_info{
        max-height: 0; overflow: hidden;
        transition: max-height .3s ease-in-out;}
.acc_di_title{
    cursor: pointer;
    position: absolute;
    display: flex;
    top: -45px;
    width: 50%; left: 19%;
        
}

.acc_di_title::after{
    content: ""; position: absolute;
    left: 55px; top: 45%;
    display: block; width: 8px;height: 8px;
    border-top: solid 2px #4d4f50;
    border-right: solid 2px #4d4f50;

    transform: translateY(-50%) rotate(135deg);
    transition: all 0.2s ease-in-out;
}

.goods{
    width: 100%; text-align: center;
    position: relative; background: #6293b1;
    margin-top: 85px;}
.side_bar{position: absolute; color: azure; opacity: 0.4; 
            top: 45%; font-size: 40px; font-weight:lighter;}
.b1{left: 0px; transform: rotate(-90deg)}
.b2{right: 0px; transform: rotate(90deg)}

.go_wrap{visibility: hidden;
    width: 65%; margin: 0 auto;
    display: grid; grid-template-columns:30% 30% 30%;
    justify-content: space-between;}

.go_item{margin: 30px 15px; }
.go_item p{font-size: 18px; font-family: 'manifest'; color: azure;}
.item_style{
    border-radius: 50px; border: solid 4px rgba(255, 255, 255, 0.8);
    width: 100%; }

.profile{
    width: 100%; margin: 0 auto;
    padding-bottom: 140px;
     text-align: center; position: relative;}
.profile h3{
    position: absolute; width: 100%;
    background: linear-gradient(180deg, 
    #6293b1, transparent); padding: 85px 0;}

.profile img{width: 100%; margin: 0 auto;}

footer{width: 100%; text-align: center; margin: 85px 0;padding-bottom: 50px;}
footer p{font-family: 'segoe_fake'; margin: 0; }
.f_mail{background: #000000;padding: 15px 0;}

footer{width: 100%; text-align: center; margin: 85px 0;padding-bottom: 50px;color: #dadada;}
footer p{margin: 0;}
.f_mail{background: #000000;padding: 15px 0;}
.f_sns{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}
.f_sns img{
    width: 65%;
    border-radius: 30px;
    margin:0;}

.top_button{padding: 60px;}
.top_button a{
    font-family: 'bulter';font-weight: bold;
    border-radius: 15px; color: #000000;
    border-radius: 57px;
    background: linear-gradient(145deg, #e9e9e9, #c4c4c4);
    box-shadow: 9px 9px 18px #b5b5b5, -9px -9px 18px #ffffff;
    width: 40%;padding: 20px;}

@media(max-width:1400px){
    .news,.live,.movie,.disc,.goods,footer{padding: 60px 0;}
    .profile h3{top: -1%;}
    .acc_di_title{top: -45px; left: 20%;}
    
}


@media(max-width:1170px){
    header img{width: 100%;}
    #head-act{top: 575px;}
    .swiper-container{height: 575px;}
    .list{padding: 0;}
    .list-item{width: 13%;}
    .news,.live,.movie,.disc,.goods,footer{padding: 45px 0;}
    .profile{padding-top:0 ;}
    .profile h3{top: -1px;}
    .news,.live,.movie,.disc{width: 80%;}
    h4{font-size: 45px;}
    .acc_di_title{top: -35px;}
    .go_wrap{
        width: 90%; grid-template-columns: 40% 40%;
        justify-content: space-evenly;}
    .b1{left: -17%;} .b2{right: -17%;}
    .go_item:last-of-type,.go_item:nth-last-of-type(2),
    .go_item:nth-last-of-type(3),.go_item:nth-last-of-type(4),
    .go_item:nth-last-of-type(5){display: none;}

}

@media(max-width:1000px){
    .list{padding: 0;}
    .list-tem{width: 14%;}
    #head-act{top: 430px;}
    #head-act.m_fixed{width: 89%;}
    .swiper-container{height: 430px;}
    .ne_img{width: 15%;}
    .grad{left: 20%;}
    .ne_p{left: 22%;}
    .acc_ticket{top: 9px;}
    .acc_item.is_open .acc_ticket{top: 9px;}
    .mo_item{display:none;}
    .mo_item_sp{display: block;}
    .acc_di_title{left: 23%; top: 0;}
    .acc_item.is_open .di_info{max-height: 305px;}
    .di_wrap{justify-content: flex-end; margin-right: 97px;margin-top: 40px;}
    .go_wrap{justify-content: center;}
    .b1{left: -25%;} .b2{right: -25%;}
    /*.profile img{width: 90%;}*/
    .f_wrap{display: block;}

}


@media(max-width:670px){
    
    /*slide menu styles*/
    .menu_button {
        width: 20%;
        visibility: visible;
        position: fixed;
        top:220px; right: 30px;
        cursor: pointer;
        -webkit-transition: .3s;
        transition: .3s; background-color: #6293b1;
        border-radius: 15px; z-index: 999
        ;}


    .menu-button .bar:nth-of-type(1) {margin-top: 0px;}

    .menu-button .bar:nth-of-type(3) {margin-bottom: 0px;}

    .bar {
        position: relative; display: block;
        width: 40px; height: 5px;
        margin: 10px auto; background-color: #fff;
        border-radius: 10px;
        -webkit-transition: .3s;
        transition: .3s; z-index: 999;}

    .acc_item.is_open .bar:nth-of-type(1) {
        -webkit-transform: translateY(15px) rotate(145deg);
        -ms-transform: translateY(15px) rotate(145deg);
        transform: translateY(15px) rotate(145deg);}

    .acc_item.is_open .bar:nth-of-type(2) {opacity: 0;}

    .acc_item.is_open .bar:nth-of-type(3) {
        -webkit-transform: translateY(-15px) rotate(215deg);
        -ms-transform: translateY(-15px) rotate(215deg);
        transform: translateY(-15px) rotate(215deg);}
    .acc_content{position: relative;}
    #head-act{
            width: 40%;right: 0;
            top: 20px;right: 0; max-height: 0;         
            -webkit-transition: .3s;
            transition: .3s; }
    #head-act.m_fixed{top: 270px; width: 40%;}
    .acc_item.is_open #head-act{
            max-height: 1000px;         
            -webkit-transition: .3s;
            transition: .3s; width: 40%;
            padding-top: 40px;}

    .news,.live,.movie,.disc,footer{margin: 60px auto;}

    .swiper-container{height: 210px;}
    .list{display: none;}
    .acc_item.is_open .list{display: block;}
    .list-item{width: 100%;}
    .list-item a{font-size: 13px;}
    h2{font-size: 25px; top: 36%;}
    h3{font-size: 20px;}
    h4{font-size: 20px; padding-top: 0;}
    h5{font-size: 13px; height: 12px;}
    .news, .live, .movie, .disc, .goods, footer {
        padding: 7px 0;}
    .ne_img{
        -webkit-appearance:none; -webkit-text-size-adjust:100%;
        border-radius: 12px;
        background: #dadada;
        box-shadow: inset 3px 3px 6px #bfbfbf, 
        inset -2px -3px 4px #e9e9e9;}

    .acc_info{top: -40px!important;}
    .acc_item.is_open .acc_info{top: -40px!important;}
    .di_img{width: 55%;}
    .ne_p{font-size: 10px!important; left: 28%!important;}
    .grad{left: 27%!important;}
    .acc_single_title{font-size: 11px!important;}
    .acc_single_title::after{right: 7px!important; top: 35%!important;} 

    .li_day p{padding: 8px;}
    .li_day span{font-size: 13px;}
    .li_p{font-size: 10px;}
    .acc_ticket{ text-align: center;width: 100%;left: 0;}
    .acc_item.is_open .acc_info {font-size: 13px;}

    .movie{width: 100%;}
    .mo_wrap{width: 90%;}
    .acc_di_title{left: 44%; top: -25px;}
    .acc_di_title p{    font-size: 14px;}
    .di_title{flex-direction: column; align-items: center;}
    .di_item{text-align: center;}
    .di_info{
        left: 0; top: 15px; 
        position: relative; font-size: 10px;}
    .di_wrap{
        justify-content: center; width: 100%;
        left: 37%; top: -40px;}
    .goods{position: relative; height: 500px;}
    .go_wrap{grid-template-columns: 80%;}
    .b1{left: -15%;} .b2{right: -15%;}
    .profile h3{padding: 25px 0;}

    .f_sns{width: 100%;}
    .f_sns img{border-radius: 13px;}
}

