
@media (max-width:1400px){
.i-1 p{font-size: 25px;}
.case{width:1200px;}
.loopSlider ul li {
    width: 1400px;
}
.profile{width: 85%;}
}
.i-4 h3, .report{width: 85%;}
.report p{font-size: 20px;}
.slider{left: 3%;}
.slider2{right: 3%;}

@media (max-width:1000px){
.message h3{font-size: 50px;}
.i-3{height: 800px;}
.i-3, .profile h3{margin-top: 0;}
.profile, .report p{font-size: 15px;}
.slider,.slider2{width: 40px; height: 40px;}
}

@media only screen and (max-width: 768px) {
  /*  .loopSliderWrap,
    .loopSlider{height: 500px;}
 
    .loopSlider ul li {
        width: 500px;
        height: 500px;
    }*/
}

@media (max-width:670px){
     .l-wrap{width: 74%;}
.container{
    background: none;
    box-shadow: none;
    border: none;
}
.span{display: none;}
#top{right: 20px; position: fixed;}

.link{
    width: 10%; position: fixed; 
    bottom: 120px; right: 20px;
}
.item{height: 800px;}
.i-1 h2,.i-3 h3,.i-4 h3{
    font-size: 30px;
}
.i-1{top: 0; height: 500px;}
.i-1 p{font-size: 13px;}
.message h3{font-size: 25px;}
.i-2{height: 700px;}
.case{width:350px; height: 600px;}
.loopSliderWrap,.loopSlider{height: 670px; font-size: 15px;}
.loopSlider ul li {
    width: 370px; height: 670px;
}
.loopSlider h3{font-size: 14px;}

    /*スライダー「アプリ」*/
    .down{margin-top:90px;}
    .icon{width: 35%;}
    .app_home{
        width: 35%; 
        mix-blend-mode: multiply;
    }
    /*スライダー「ecサイト」*/
    .title_2{width: 98%; margin: 0 auto;}

    .exam-1, .payments{
        width: 95%;
         margin: 0 auto; display: flex; 
        justify-content: center; 
        align-items: center; 
        font-size: 10px;
    }

    .exam-2{width: 35%; margin-left: 5px;}
    .exam-3{width: 24%; }
    .exam2{width: 100%;}
    .i-3{height: 500px;}
    .profile, .report p{font-size: 10px;}
    .profile{width: 95%; top: 0;}
    .profile p{width: 80%; margin: 10px auto; }
    .i-4{height: 420px; margin-top: 45px;}
    .report{display: block;}
    .report h4{font-size: 15px;}
    .space{
        width: 200px; height: 1px; 
        border-bottom: solid 1px rgb(223, 223, 223);
    }
    span{    width: 1px;
        height: 100px;
        border-right: solid 1px rgb(223, 223, 223);}

    .slider,.slider2{
        width: 25px; height: 25px;
        margin-top: 150px;
    }
}
