
@font-face{
    font-family: 'rafale-ru';
    src: url('../fonts/rafale_ru.woff')format('woff')
  }
  
@font-face{
    font-family: 'segoe_fake';
    src: url('../fonts/SEGOEPR.TTF') ;
  }

  
@font-face{
    font-family: 'manifest';
    src: url('../fonts/MANIFESTO.ttf') 
  }

@font-face{
    font-family: 'bulter';
    src: url('../fonts/Butler_Light.otf');
}

a{-webkit-tap-highlight-color: rgba(0,0,0,0); cursor: pointer;}
#loading{
    color: #dadada;
    width: 100vw;height: 100vh;
    position: fixed;top: 0;z-index: 9999;
    transition: all 0.5s ease-in-out;transition-delay: 2s;
    background:
    linear-gradient(120deg,#27272794,#000000e8),
    linear-gradient(180deg,#494949ea,#0f0f0f),
    linear-gradient(260deg,#3b3b3b,#5a5a5ae8);
    
}
.loaded{
    animation: loading 0.25s 2s forwards ease-in;
    transition: all 0.4s ease-in;}
.load_item{
    font-family: 'Shippori Mincho';
    text-align: center;
    font-size: 60px;
    margin: 30vh auto;
    }
.wrap{font-family: "游ゴシック", "Yu Gothic","ヒラギノ角ゴ ProN";}
.load_item p{margin: 0;}
.jap_catch:first-child{
    margin-bottom: 15px;
    transition: all 0.4s ease ;
    transition-delay:0.4s;

    animation: load 0.25s forwards linear ;
    -webkit-animation: load 0.25s forwards linear;}
.jap_catch:last-child{
    margin-bottom: 40px !important;
    transition: all 0.4s ease ;
    transition-delay:0.7s;
    animation: load 0.45s forwards linear ;
    -webkit-animation: load 0.45s forwards linear ;}
.eng_catch{
    padding-left: 33%;
    width: 50%;
    margin: 0 auto 10px auto!important;
    text-align: left;
    font-size: 43px;
    transition: all 0.4s ease;
    transition-delay: 5s;
    animation: load 0.65s forwards linear;
    -webkit-animation: load 0.65s forwards linear;}

body{
    background:#dadada ; margin: 0;
    overflow-x: hidden;}

.dummy{height: 2000px;}
.top_visu{position: relative;}
.name{font-size: 22px; }
.name_info p{font-size: 20px; margin: 5px 0;}
.concept span{font-size: 22px;margin-top: 5px;}
.c_on{transform: translateY(0%)!important;opacity:1!important;transition: all 0.2s ease-out;}
.concept{
    font-family: 'Shippori Mincho';
    width: 100vw;position: relative;
    text-align: center;padding: 30px 0 300px 0;
    margin: 0;z-index: 98;
    background: #dadada;}
    .name{transition:all 1s ease-out;opacity:0;transform: translateY(80%);}
    .name_info{transition:all 1s ease-out;opacity:0;transform: translateY(80%);}
main{
    background: #dadada; z-index: 99; 
    position: relative;}
.fixed_item{
    margin: 0;
    position: relative; top: 0;z-index: 9;
    font-family: 'bulter';}
.top_web,.top_sp{width: 100%;}
.top_sp{display: none;}

h1{
    position: relative;top: 11px;z-index: 95;
    width: 100vw;margin: 0;padding: 5px 0;
    font-size: 80px;text-align: center;
    color: #000000;}

.top_photo{width: 100vw; }

#header nav ul li .active{color: #f4ca8b; font-weight: bold; font-size: 22px;}

.acc_single_title{
    cursor: pointer;
    position: relative;
    display: flex;z-index: 999;
    border-top: solid 1px #a2a2a2;}

.acc_single_title::after{
    content: ""; position: absolute;
    right: 80px; top: 45%;
    display: block; width: 8px;height: 8px;
    border-top: solid 2px #a2a2a2;
    border-right: solid 2px #a2a2a2;

    transform: translateY(-50%) rotate(135deg);
    transition: all 0.2s ease-in-out;
}

/*.acc_content{position: relative;}*/
.acc_info{
    position: relative; top: -65px;
    max-height: 20px; overflow: hidden;
    transition: max-height .3s ease-in-out;}
.acc_ticket{
        position: relative; top: -5px; left: 17%;
        max-height: 0px; overflow: hidden;
        transition: max-height .3s ease-in-out;}
    .acc_ticket img{
        width: 10%;
        border-radius: 5px;
        margin-left: 8px;
        }

.acc_more{
    position: relative; top: 0px;
    max-height: 0; overflow: hidden;
    transition: max-height .3s ease-in-out;}
.acc_item.is_open .acc_info{max-height: 1000px;position: relative; top: -65px;}
.acc_item.is_open .ne_info_img{opacity: 1;}
.acc_item.is_open .grad{animation: grad_ac1 0s linear 1 normal forwards;}
.acc_item.is_open .acc_ticket{max-height: 150px;position: relative; top: -5px;}
.acc_item.is_open .acc_more{max-height: 150px;position: relative; top: 0px;}

.acc_more p{    
    margin: 0;
    position: relative;
    height: 50px;}
.acc_item.is_open .acc_single_title::after{
    transform: translateY(-50%) rotate(315deg);}
.acc_item.is_open .di_info{    max-height: 270px;}
.acc_item.is_open .acc_di_title::after{
    transform: translateY(-50%) rotate(315deg);}

.more{text-align: center;}

.img_item{
    width: 33%; height: 850px; margin: 0 auto;
}

#head-act{
        width: 100%; background: #6293b1; 
        position: absolute;top: 2000px;
        z-index: 999;}
#head-act.m_fixed{position: fixed; top: 0;}

#head-act.inner{  
    padding-bottom: 0;
    padding-top: 0;
    margin: 0 auto;
    max-width: 100%;
    padding: 80px 0;
    width: 768px;}
    h2{
        width: 100%;
        font-family: 'rafale-ru';
        color: #464646;
        font-size: 46px;
        top: 45%;
        position: absolute;
    }
    h3{
        font-size: 30px; font-family: 'segoe_fake'; 
        text-align: center; margin: 0; padding: 25px 0;}

    h4{font-size: 40px; font-family: 'manifest'; color: azure; padding-top: 60px;}
    h5{
        font-size: 18px; font-family: 'Shippori Mincho', serif;
        font-weight: lighter; height: 40px;}

.list{display: flex; list-style: none;}
.list-item{width: 20%;}

.list-item a{
    color: azure; display: block; line-height: 35px;
    text-align: center; text-decoration: none;
    font-family: 'rafale-ru'; font-size: 20px;
    }

.news{width: 65%; margin: 85px auto;} 
.ne_img{
    width: 10%; margin: 20px; 
    border-radius: 20px;
    background: #dadada;
    box-shadow: inset 6px 6px 7px #bfbfbf, 
                inset -6px -6px 7px #e9e9e9;}
.ne_p{ 
    margin-top: 0;
    margin-bottom: 10px;
    left: 14%;
    position: relative;
    font-family: 'Shippori Mincho', serif;}
.ne_info_img{
    opacity: 0;transition:all 0.2s;
    width: 42%;
    left: 14%;
    position: relative;
}

.grad{
    animation: grad_ac2 0.45s linear 1 forwards;
    height: 50px;transition: all 0.3s;
    background: linear-gradient(0deg,
        #dadada 10%, #dadada00 40%);
    position: absolute;
    width: 75%; top: -25px;
    left: 14%;}
.live{width: 65%; margin: 0 auto; height: 500px;}
.tab_table{
    width: 100%; margin-top: 85px;
}

.tab_info{
    border-bottom: solid 1px #a2a2a2;
}
.li_day{
    text-align: center; padding: 15px 15px; 
    width: 10%;
   }
.li_day p{ 
    border-radius: 20px;
    background: #dadada;
    box-shadow: inset 6px 6px 7px #bfbfbf, 
                inset -6px -6px 7px #e9e9e9;
    font-family: 'Lobster', cursive;
    padding: 20%; display: inline-block;
    color:#424242;}
.li_day span{font-size: 20px;}
.li_p{font-size: 13px; font-family: 'Shippori Mincho', serif;}
.movie{
        width: 65%; margin: 85px auto; 
        
        text-align: center;}
.mo_wrap{width: 80%; margin: 0 auto;}
.mo_item{
        box-shadow: 0px 1px 12px 0px rgb(88, 88, 88);
        border-radius: 45px;
        border: solid rgba(230,230,230,0.8) 2px;
        margin: 50px 0;}
.mo_item_sp{
    display: none;
    box-shadow: 0px 1px 12px 0px rgb(88, 88, 88);
    border-radius: 28px;
    border: solid rgba(230,230,230,0.8) 2px;
    margin: 50px 0;}

.movie h3{
    width: 100%;
    margin: 0 auto;}
/*
.disc{
    width: 65%; margin: 0 auto; height: 500px;
    padding-bottom: 40px;}
.disc .acc_content{position: relative;}
.di_song{padding-left: 22px;}
.di_img{width: 15%; margin: 20px;}
.di_item{height: 120px;}
.di_item img{
    width: 10%;
    border-radius: 8px; margin-left: 8px;
    border: solid 1px #d4d4d4;}
.di_wrap{
    display: flex; flex-direction: column;
    text-align: left; position: relative;
    left: 19%; }
.di_info{
        max-height: 0; overflow: hidden;
        transition: max-height .3s ease-in-out;}
.acc_di_title{
    cursor: pointer;
    position: absolute;
    display: flex;
    top: -45px;
    width: 50%; left: 19%;
        
}

.acc_di_title::after{
    content: ""; position: absolute;
    left: 55px; top: 45%;
    display: block; width: 8px;height: 8px;
    border-top: solid 2px #a2a2a2;
    border-right: solid 2px #a2a2a2;

    transform: translateY(-50%) rotate(135deg);
    transition: all 0.2s ease-in-out;
}
*/
.goods{
    width: 100%; text-align: center;
    position: relative; background: #6293b1;
    margin-top: 85px;}
.side_bar{position: absolute; color: azure; opacity: 0.4; 
            top: 45%; font-size: 40px; font-weight:lighter;}
.b1{left: 0px; transform: rotate(-90deg)}
.b2{right: 0px; transform: rotate(90deg)}

.go_wrap{visibility: hidden;
    width: 65%; margin: 0 auto;
    display: grid; grid-template-columns:30% 30% 30%;
    justify-content: space-between;}

.go_item{margin: 30px 15px; }
.go_item p{font-size: 18px; font-family: 'manifest'; color: azure;}
.item_style{
    border-radius: 50px; border: solid 4px rgba(255, 255, 255, 0.8);
    width: 100%; }

.profile{
    /*height: 1080px;*/
    width: 100%; margin: 0 auto;
    text-align: center; position: relative;
    padding-bottom: 80px;}
.pro_band_ti{margin-bottom: 50px!important;}

 
.swiper-container{
    position: absolute;
    width: 100%;z-index: 9;
    height: 900px;
}
.profile h3{
    z-index: 99;padding-top: 400px;
    position: relative; width: 100%;}
.profile p{font-family: 'Shippori Mincho';}
.profile a{
    background: #cc9c54;
    padding: 3px 33px;
    color: #313131;
    text-decoration: none;}
    .boxes{display: flex; width: 33%; margin: 0 auto;}
    .box_1{
        z-index: 80;
        margin: 31px auto;
        position: relative;
        padding: 4px 10px;
        border-top: solid 2px black;
        border-bottom: solid 2px black;
    }
    .box_1::before,.box_2::after{
        content: '';
        position: absolute;
        top: -10px;
        width: 2px;
        height: -webkit-calc(100% + 20px);
        /* height: calc(100% + 20px); */
        background-color: black;
    }
.box_2{
    z-index: 80;
    margin: 31px auto;
    position: relative;
    padding: 4px 9px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.box_2::before,.box_1::after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    /* height: calc(100% + 20px); */
    background-color: black;
}


.pro_band,.pro_taison,.pro_itsu{
    background-image: url(../2021HPitems/pro_back.jpg);
    background-size: cover;
    width: 100%;position: absolute;
    height: 700px;
    color: #dadada;padding-top: 200px;
    font-size: 25px;}
.pro_info p{margin: 9px; }
.profile span{font-family: 'Shippori Mincho';font-size: 18px;}
.pro_name{
    width: 8%; margin: 0 auto;font-size: 30px;
    border-bottom: 1px solid #dadada;}
.profile img{width: 100%; margin: 0 auto;}
.pro_photo{width: 100%;}

footer{
    position: relative;
    width: 100%; text-align: center;background: #dadada;
    padding-bottom: 50px;padding-top: 200px;z-index: 99;}
.f_sns p{margin: 0;font-family: 'segoe_fake'; color: #000000;}
.f_mail{background: #000000;padding: 15px 0;
font-family: sans-serif; color: #dadada;}

footer a{text-decoration: none;color: #dadada;}
.f_sns{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}
.f_sns img{
    width: 65%;
    border-radius: 30px;
    margin:0;}

.top_button{padding: 60px;}
.top_button a{
    font-family: sans-serif;font-weight: bold;
    border-radius: 15px; color: #000000;
    border-radius: 57px;
    background: linear-gradient(145deg, #e9e9e9, #c4c4c4);
    box-shadow: 9px 9px 18px #b5b5b5, -9px -9px 18px #ffffff;
    width: 40%;padding: 20px;}
